body {
  font-family: "Noto Serif", serif;
  background: #fcb5b5;
  margin: 0;
  padding: 0;

  a {
    text-decoration: underline;

    &:link {
      color: #fff;
    }

    &:visited {
      color: #fff;
    }
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background: #cf8e80;
  color: #fff;
  padding: 0 15px 10px 15px;
  #logo {
    display: flex;
    align-items: center;

    #header-img {
      width: 50px;
      height: 50px;
    }

    #logo-title {
      padding-left: 15px;
      font-size: 5vw;
    }
  }

  #nav-bar {
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin-top: 8vw;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}

#main {
  #sections-info {
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
    text-align: center;

    .section-title {
      font-size: 5.5vw;
    }
    .section-copy {
      font-family: "Crimson Text", serif;
      width: 83vw;
      margin: 0 auto;
      font-size: 4vw;
    }

    #plans-container {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .plans {
        width: 35vw;
        height: 35vw;
        background: #cccccc;
        position: relative;

        h5 {
          position: absolute;
          bottom: 0;
          margin: 0;
          display: block;
          background: #916953;
          color: #fff;
          width: 100%;
          font-family: "Crimson Text", serif;
          font-weight: 100;
          font-size: 4vw;
        }
      }
    }

    #video {
      margin: 12vw auto 0 auto;
      display: block;
      width: 300px;
      height: 200px;
    }

    section:nth-child(2),
    section:last-child {
      margin-top: 4vw;
    }
  }

  #form-container {
    text-align: center;
    margin-top: 2vw;
  }
}

#footer {
  text-align: center;
  padding-top: 15px;
  small {
    a {
      &:link {
        color: #000;
      }

      &:visited {
        color: #000;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #logo {
      padding-top: 12px;
      #header-img {
        width: 50px;
        height: 50px;
      }

      #logo-title {
        font-size: 3.5vw;
      }
    }
    #nav-bar {
      ul {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;

        .nav-link {
          margin-left: 50px;
        }
      }
    }
  }
  #main {
    #sections-info {
      #plans-container {
        width: 75vw;
        margin: auto;

        .plans {
          width: 200px;
          height: 200px;

          h5 {
            font-size: 2.5vw;
          }
        }
      }

      .section-title {
        font-size: 3.5vw;
      }

      .section-copy {
        width: 65vw;
        font-size: 3vw;
      }
      #video {
        width: 500px;
        height: 315px;
      }
    }
  }

  #footer {
    text-align: right;
  }
}

@media screen and (min-width: 1024px) {
  #header {
    #logo {
      #header-img {
        width: 60px;
        height: 60px;
      }

      #logo-title {
        font-size: 30px;
      }
    }
  }

  #main {
    #sections-info {
      margin: 50px auto;
      #plans-container {
        width: 750px;
        margin: auto;

        .plans {
          width: 200px;
          height: 200px;

          h5 {
            font-size: 22px;
          }
        }
      }
      .section-title {
        font-size: 30px;
      }

      .section-copy {
        width: 650px;
        font-size: 24px;
      }

      #video {
        width: 500px;
        height: 315px;
        margin: 50px auto 0 auto;
      }

      section:nth-child(2),
      section:last-child {
        margin-top: 40px;
      }
    }

    #form-container {
      margin-top: 20px;
    }
  }
}
